@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Find your new Milwaukee home here.</p>
<p>Whether you're looking for lofts or riverfront views, we have options to meet your needs. Explore the vacancies and locations options above for more information.</p>
