@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    313 N Plankinton Ave<br />
    Milwaukee, WI 53203<br />
    <abbr title="Phone">P:</abbr>
    414.555.0000
</address>

>