@model PropertyManagementApp.Models.Messages

@{
    ViewBag.Title = "MessageSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success!</h2>

<h3>Your message was sent successfully.</h3>

