@model PropertyManagementApp.Models.ServiceRequests

@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success</h2>

<h3>Your service request was submitted successfully.</h3>

