@model PropertyManagementApp.Models.Manager

@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="container">
    <div class="row">
        <div  class="col">
            <h4>Units Currently Needing Service</h4>
        </div>
        <div class="col">
            <h4>Service Providers</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Send Email</h4>
        </div>
        <div class="col">
            <h4>Payments</h4>
        </div>
        <div class="col">
            <h4>Post Vacancies</h4>
        </div>
    </div>
</div>
