@model PropertyManagementApp.Models.Resident

@{
    ViewBag.Title = "MakePayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment</h2>
<form action="/Home/PayRent" method="POST">
    <article>
        <label>Amount: $@ViewBag.Pmt</label>
        <label_tag(:amount, :'Payment:')>
                    <text_field_tag(:amount)>
                </article>
                <script src="//checkout.stripe.com/v2/checkout.js"
                        class="stripe-button"
                        data-key=@Credentials.StripePublishableKey
                        data-locale="auto"
                        data-description="Rent Payment"
                        data-amount="@ViewBag.StripePmt"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png">
                </script>
            </form>


@*src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_TAfhpFmv9S0yNl86vUauVwp4"
    data-amount="999"
    data-name="jenniferlocke.work"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">*@