@model PropertyManagementApp.Models.Resident

@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="container ">
    <div class="row">
        <div class="col-md-6 table-bordered">
            <h4><a href="~/ServiceRequests/Create">Submit a Service Request</a></h4>
        </div>
        <div class="col-md-6 table-bordered">@* paypal link *@
            <h4><a href="PayRent">Pay Rent</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 table-bordered">
            <h4><a href="~/Messages/SendToManager">Email the Manager</a></h4>
        </div>
        <div class="col-md-4 table-bordered">
            <h4><a href="~/Messages/SendFromResidentToResident">Email a Neighbor</a></h4>
        </div>
        <div class="col-md-4 table-bordered">
            <h4><a href="~/Messages/SendFromResidentToBuilding">Email All Your Neighbors</a></h4>
        </div>
    </div>
</div>
